{{ pageAddAsset('stylesheet', zasset('@KaikmediaCompaniesModule:css/sponsors-block.css')) }}
<div class="companies-block-sponsors sponsors-type-{{ sponsorType }} {{ css }}">
    <div class="row">
        <div class="sponsors-heading col-xs-12 text-center">
            {{ __('Sponsors') }}
        </div>
    </div>
    <div class="row equal">
        {{ content|raw }}
    </div>
</div>
{#        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {% include '@KaikmediaCompaniesModule/Cards/sponsor.card.html.twig' %}
        </div>#}
{#{% set sponsors=[0,1,2,3,4,5] %}
{% for sponsor in sponsors %}
    <div class="col-md-6">
        {% include '@KaikmediaCompaniesModule/Cards/sponsor.card.html.twig' %}
    </div>
{% endfor %}#}
{#
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-sponsor">
              <a href="http://odszkodowaniewuk.com" class="card-link">
                <span class="card-img">
                  <img src="/web/uploads/sponsors/odszkodowaniewuk.png" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Miałeś wypadek nie z Twojej winy?</span>
                  <p class="card-line-info">Masz prawo do odszkodowania uzyskaj pomoc</p>
                  <p class="card-line-contact">Zadzwoń 07838016779</p>
                </span>
                <span class="card-footer">odszkodowaniewuk.com</span>
              </a>
            </div>
        </div>
#}
    {#
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {% include '@KaikmediaCompaniesModule/Cards/sponsor.card.html.twig' %}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-sponsor">
              <a href="https://www.facebook.com/Hania-Polski-Fryzjer-1530983267168463/" class="card-link">
                <span class="card-img">
                    <img src="/web/uploads/sponsors/hania_polski_fryzjer_coventry.jpg" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Damski, męski i dziecięcy</span>
                  <p class="card-line-info">Koloryzacje, trwałe, przedłużanie, stylizacja, kosmetyki</p>
                  <p class="card-line-contact">Zadzwoń 7732 500791</p>
                </span>
                <span class="card-footer">75 Burlington Road CV2 4QE</span>
              </a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-sponsor">
              <a href="https://polskaprzychodnia.com" class="card-link">
                <span class="card-img">
                  <img src="/web/uploads/sponsors/polska_przychodnia_coventry2.jpg" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Polscy Lekarze w Coventry</span>
                  <p class="card-line-info">Ginekolog Pediatra Dermatolog</p>
                  <p class="card-line-contact">Rejestracja 02477671780 lub 07712658538</p>
                </span>
                <span class="card-footer">polskaprzychodnia.com</span>
              </a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-sponsor">
              <a href="http://accidenthelplinebham.co.uk/" class="card-link">
                <span class="card-img">
                    <img src="/web/uploads/sponsors/accident_helpline2.jpg" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Miałeś wypadek?</span>
                  <p class="card-line-info">Zadzwoń</p>
                  <p class="card-line-contact">07535974265 lub 07872026391</p>
                </span>
                <span class="card-footer">accidenthelplinebham.co.uk</span>
              </a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-sponsor">
              <a href="http://www.renatasolicitors.com/" class="card-link">
                <span class="card-img">
                  <img src="/web/uploads/sponsors/renata_solicitors_2.jpg" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Prawo cywilne i kryminalne</span>
                  <p class="card-line-info">Rozwody, odszkodowania, spadki i testamenty</p>
                  <p class="card-line-contact">Obsługa w języku polskim 0121 777 7333</p>
                </span>
                <span class="card-footer">renatasolicitors.com</span>
              </a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-sponsor">
              <a href="http://marcin-sat.pl/" class="card-link">
                <span class="card-img">
                  <img src="/web/uploads/sponsors/marcin_sat_2.jpg" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Montaż telewizji naziemnej DVB-T</span>
                  <p class="card-line-info">Usuwanie usterek odbioru telewizji</p>
                  <p class="card-line-contact"> Zadzwoń 07922230513</p>
                </span>
                <span class="card-footer">marcin-sat.pl</span>
              </a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-sponsor">
              <a href="http://biurotlumacza.co.uk" class="card-link">
                <span class="card-img">
                  <img src="/web/uploads/sponsors/biuro_tlumacza_2.jpg" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Tłumaczenia PL-EN / EN-PL</span>
                  <p class="card-line-info">Przysięgłe, certyfikowane, pisma urzędowe i osobiste</p>
                  <p class="card-line-contact">Zadzwoń 07535202404</p>
                </span>
                <span class="card-footer">biurotlumacza.co.uk</span>
              </a>
            </div>
        </div>
    
    #}